/*
Colors used:
Primary Color (dark blue): #423c6a
Secondary Color (blue): #605b82
Tertiary Color (white): #F6F2F2, opt: opacity 75%
highlight notes (yellow): #de9751
Gradients: 
    background: #F6F2F2 #836272
    button: #B6BBA3 #C1C7DE
Highlight Colors:
    yellow: #f7ecc3
    light blue: #D7DBEA
    light green: #DBE3BD
*/
*{
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(180deg, #f6f2f2, #aa939e 100%, #836272);
    background-attachment: fixed;
    margin: 0 0;
}

header {
    z-index: 2;
}


    h1 {
        font-family: 'Anton', sans-serif;
        font-size: 40px;
        line-height: 1.5;
        letter-spacing: 10px;
        color: #423c6a;
        margin: 0;
        text-align: center;
    }

    h2 {
        font-family: 'Anton', sans-serif;
        font-size: 48px;
        line-height: 1.5;
        letter-spacing: 3px;
        color: #423c6a;
        margin: 0px 0px 12px 0px;
        text-align: center;
    }

    h3 {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        line-height: 1.5;
        letter-spacing: 2px;
        font-weight: 600;
        color: #423c6a;
        margin: 0
    }

    p {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 2px;
        font-weight: 400;
        color: #423c6a;
    }

.tagline {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        letter-spacing: 2px;
        font-weight: 200;
        color: #605b82;
        margin: 0;
    }
.intro-undertitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 2px;
    font-weight: 400;
    color: #423c6a;
    text-align: center;
    margin: 12px;
}
    
.project-page h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    line-height: 1.5;
    letter-spacing: 4px;
    font-weight: 400;
    text-transform: uppercase;
    color: #F6F2F2;
}

.project-page h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    line-height: 1.5;
    letter-spacing: 4px;
    font-weight: 400;
    color: #F6F2F2;
    margin: 0;
    text-transform: uppercase;
}

.project-page h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 4px;
    font-weight: 600;
    color: #423c6a;
    margin-bottom: 48px;
    text-transform: uppercase;
}

.project-page h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 2px;
    font-weight: 600;
    color: #423c6a;
}
.project-page p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    letter-spacing: 0px;
    color: #423c6a;
}
.dark-bg {
    background-image: linear-gradient(315deg, #2e2949, #605b82 50%, #655f92);
}


.dark-bg h1{
    font-family: 'Anton', sans-serif;
        font-size: 48px;
        line-height: 1.5;
        letter-spacing: 3px;
        color: #F6F2F2;
        margin: 0px 0px 12px 0px;
}

.dark-bg h2{
    font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        line-height: 1.5;
        letter-spacing: 2px;
        font-weight: 600;
        color: #F6F2F2;
        margin: 0
}

.dark-bg p{
    color: #F6F2F2;
}

.title-bg {
    background-image: linear-gradient(315deg, #2e2949, #605b82 50%, #655f92);
    max-width: 1000px;
    margin: auto;
}
.title-bg h1 {
    font-size: 20px;
    margin-bottom: 12px;
}
.title-bg p {
    color: #f6f2f2;
}
#about, #contact {
    background: #605b82;
}

.text-ultralight h2, .text-ultralight p {
    color: #F6F2F2;
}

#keyinformation h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 4px;
    font-weight: 600;
    color: #423c6a;
    text-align: left;
    margin: 24px 0px;
}

#keyinformation h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: none;
    color: #423c6a;
    margin-bottom: 12px;
}

#keyinformation p {
    margin-top: 12px;
    margin-bottom: 48px;
}

#skills-and-methods h3 {
    margin-bottom: 12px;
    margin-top: 48px;
}

#skills-and-methods p {
    margin-top: 0;
}

#skills-and-methods a {
    font-weight: 600;
    margin-bottom: 0;
}
.bold {
    font-weight: 600;
}

.notes {
    font-family: 'Loved by the King', cursive !important;
    font-size: 22px !important;
}
    .yellow {
        color: #de9751 !important;
    }
    .blue {
        color: #423c6a !important;
    }
    .green {
        color: #a7b085 !important;
    }

img {
    width: 100%;
}

/* ==============
Links and Bottons
===============*/

a {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2px;
    font-weight: 400;
    color: #423c6a;
    text-decoration: none;  
}

a:hover, a:focus {
    font-size: 16px;
    text-decoration: underline;  

}

a:active {
    font-size: 16px; 
    text-decoration: underline;  
    color: #605b82;
}

a.nav {
    text-decoration: none;
}
a.nav:hover {
    text-decoration: underline;
}

a.logo{
    font-family: 'Anton', sans-serif;
    font-size: 22px;
    text-decoration: none;
}
a.logo:hover {
    font-size: 22px;
}

a.cta {
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    background-color: #f6f2f2c5;
    display: inline-block;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 48px;
    padding-right: 48px;
    border-radius: 200px;
    margin: 24px auto;
    transition-duration: 0.5s;
}
a.cta:hover {
    background-color: #f6f2f2;
}
a.cta:active {
    text-decoration: underline;
    
}

a.impressum{
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
    color: #f6f2f2;
}
a.impressum:hover {
    text-decoration: underline;
}
a.impressum.blue {
    color: #423c6a;
}

a.project {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    display: flex;
    background-image: radial-gradient(circle farthest-corner at 0% 0%, #b6bba3 45%, #c1c7de);
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #F6F2F2;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    transition-duration: 0.5s;
}
a.project:hover {
    background-image: radial-gradient(circle farthest-corner at 0% 0%, #98a076 45%, #a6adc9);
    text-decoration: none;
}
a.project:active {
    text-decoration: underline;
}
a.project.priority {
    background-image: radial-gradient(circle farthest-corner at 0% 0%, #9da971 45%, #f1c27d);
}
a.project.priority:hover {
    background-image: radial-gradient(circle farthest-corner at 0% 0%, #b0bd82 45%, #f7cd8e);
}

.footline {
    font-size: 12px !important;
}

/* ============ 
Layout styling 
=============*/


header {
    background-color: #f0eaeabf;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(8px);
}
header .container {
    padding-bottom: 4px;
    padding-top: 24px;
}
.logo {
    display: inline-block !important;
}
footer {
    text-align: center;
}
nav > ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0px;
    margin-top: 0;
}
nav > ul > li > a {
    padding: 0 12px;
    display: inline-flex;
}
nav > ul > li:nth-last-child(2) a svg {
    margin-left: 12px;
}
.navtoggle li:not(:last-child) {
    display: none;
}
.navtoggle, .navtoggle.responsive {
    position: relative;
}
.navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 4px;
    padding: 0;
}
.navtoggle.responsive li {
    display: block;
    padding: 10px 0;
    border-top: 2px solid #605b828d;
}
.navtoggle.responsive li:last-child  {
    padding: 0 0 10px;
    border-top: none;
  }

main {
    padding-top: 60px;
}

.container {
    padding: 24px;
}
#work {
    text-align: center;
}
.hide {
    display: none;
}
.project-card {
    padding: 24px;
    text-align: left;
    background-color: #f6f2f2c0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin: 12px auto;
    transition-duration: 0.5s;
    max-width: 350px;
}
.project-card:hover {
    text-decoration: none !important;
    background-color: #f5f3f3;
}
.project-card:hover .read-more {
    text-decoration: underline !important;
    font-weight: 600;
}
.read-more {
    text-align: right;
    margin-top: 8px;
}
.project-card > p {
    margin-bottom: 0px;
}
.project-card .image-wrapper {
    display: flex;
    max-width: 200px;
    margin: auto;
    margin-bottom: 12px;
}

.project-card .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-bg {
    background-color: #f6f2f2;
    max-width: 1000px;
    margin: auto;
}
.profile_img {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profile_img img {
    border-radius: 50%;
    width: 80%;
    max-width: 350px;
}
.sketchbook-row {
    display: flex;
    flex-direction: row;
}
.sketchbook-column {
    position: relative;
    display: flex;
    align-items: center;
    width: 50%;
}
.portrait-gif {
    width: 70%;
    position: absolute;
    left: -6px;
}
.sketchbook-text {
    position: absolute;
    right: 12px;
}
.highlight-bg-yellow {
    background-color: #f7ecc3;
    padding: 12px;
    border-radius: 12px;
    margin: 12px 0px;
    padding: 36px;
}
.highlight-bg-blue {
    background-color: #D7DBEA;
    padding: 12px;
    border-radius: 12px;
    margin: 12px 0px;
    padding: 36px;
}
.highlight-bg-green {
    background-color: #DBE3BD;
    padding: 12px;
    border-radius: 12px;
    margin: 12px 0px;
    padding: 36px;
}
.highlight-heading {
    margin-top: 0;
}
.highlight-text {
    margin: 0;
}

.img-decoration {
    border-radius: 8px;
    box-shadow: 4px 6px 24px 0px #423c6a50;
    display: block;
}
#mockups {
    padding: 24px 0px;
    position: relative;
}
#mockups .row {
    display: flex;
    overflow-x: auto;
}
#mockups .row.height {
    height: 500px;
}
#mockups .row:last-child {
    position: absolute;
    rotate: 20deg;
    bottom: -10%;
    right: 10%;
}
.row-overflow {
    display: flex;
    overflow-x: auto; 
}
#about .row-overflow img {
    height: 250px;
    width: auto;
    margin: 12px;
    border-radius: 12px;
    border-color: #F6F2F2;
    border-style: solid;
    border-width: 8px;
}
.climbing {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
}
.climbing.top {
    display: flex;
    align-self: center;
    margin-bottom: 100px;
}
.climbing.down{
    display: flex;
    align-self: center;
    margin-top: 100px;
}
.climbing.center{
    display: flex;
    align-self: center;
}
.climbing.imagery {
    max-height: 12em;
}
.final-prototype {
    max-height: 24em;
    rotate: -20deg;
    width: auto;
    margin-left: 6em;
}
#hero.small h1, #hero.small p {
    margin: 24px;
}
#hero.small h1{
    font-size: 36px;
    letter-spacing: 8px;
}
#hero.small p {
    font-size: 22px;
}
#hero.medium{
    display: none;
}
.written-notes {
    width: 75%;
    margin: 24px auto;
}
.written-notes h4 {
    margin: 0;
}
.a.project.priority.position {
    margin-top: -112px;
    margin-left: 48px;
}
a.project.position {
    margin-top: -96px;
    margin-right: 60%;
    margin-left: auto;
    rotate: -20deg;
}


/*===============================
Medium devices (768px and larger)
============================== */

@media only screen and (min-width:768px) {
    header {
        text-align: unset;
    }
    nav {
        width: auto;
        float: right;
        margin-top: 4px;
    }
    nav > ul > li {
        display: inline-block;
    }
    .navtoggle li:not(:last-child) {
        display: inline-block;
    }
    .navtoggle li:last-child {
        display: none;
    }

    #hero.medium {
        display: block;
    }
    #hero.small {
        display: none;
    }
    .sketch-bg {
        background-image: url("../img/home/IMG_notebook_2x.png");
        background-size: cover;
    }
    h2 {
        text-align: left;
        margin-bottom: 48px;
    }
    .project-page h2 {
        text-align: center;
    }
    .title-bg h1 {
        text-align: left;
    }
    .hide {
        display: block;
    }
    .project-card {
        flex-direction: row;
        gap: 48px;
        padding: 48px;
        margin: 48px auto;
        max-width: none;
    }
    .project-card .image-wrapper {
        max-width: none;
        width: 33.3%;
        margin: 0;
    }
    .project-card .image-wrapper img{
        object-fit: contain;
    }
    .project-card .content-wrapper {
        width: 66.6%;
    }
    .project-card.reverse {
        flex-direction: row-reverse
    }
    .project-card.reverse .image-wrapper{
        max-width: none;
        width: 33.3%;
        margin: 0;
    }
    .row-flex {
        display: flex;
        flex-direction: row;
        gap: 48px;
        margin: 48px auto;
    }
    .row-flex.reverse {
        flex-direction: row-reverse;
    }
    .wrapper {
        margin: 48px auto;
    }
    .col-md-2 {
        width: 14%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4{
        width: 33.3%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-8 {
        width: 66.6%;
    }
    .col-md-9 {
        width: 75%;
    }
    .big-pic {
        display: block;
        width: 80%;
        margin: 24px auto;
    }
    #contact p {
        max-width: 60vw;
        margin: 16px auto;
    }
    #keyinformation p.intro-p-md {
        margin-top: 48px;
    }
    .block-right {
        display: flex;
        flex-flow: row wrap;
        justify-content: right;
    }
    .row-flex.low-gap {
        gap: 12px;
    }
    .gap-24 {
        gap: 24px;
    }
    .flex-center {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }
    .vertical-centered {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .half {
        width: 50%;
    }
    #option2 {
        margin: -148px 0;
    }
    #thankyou {
        padding: 128px 48px;
    }
    #thankyou p {
        text-align: center;
    }
    .container {
        padding: 48px;
    }
    .hero-text {
        text-align: right;
    }
    .row-flex.project-title {
        margin: 0;
    }
}
/*=====================================
Extra Large devices (1024px and larger)
==================================== */
@media only screen and (min-width:1024px) {
    .container {
        max-width: 1000px;
        margin: auto;
        padding: 56px 64px 64px 64px;
    }
    .row-flex {
        gap: 72px;
    }
    #skills-and-methods .row-flex {
        gap: 24px;
    }
}

/*=======
Animation
=======*/
@keyframes color-change {
    from {fill: #edc655;}
    to {fill: #f76414;}
}
.sun {
    animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
from {transform: translate(0,50px);}
  to {transform: translate(500px,50px);}
}
.cloud-front {
    animation-duration: 20s;
    animation-name: cloud-move;
    animation-iteration-count:  infinite;
    animation-timing-function: linear;
  }
@keyframes cloud-move-reverse {
    from {transform: translate(446px,48px);}
    to {transform: translate(200px, 48px);}
}
.cloud-back {
    animation-duration: 20s;
    animation-name: cloud-move-reverse;
    animation-iteration-count:  infinite;
    animation-timing-function: linear;
}

